.app-wrapper {
    height: calc(87% - 1em);
    height: calc(87vh - 1em);
    overflow: hidden;
    position: relative;
}

.app-label span{
    margin: 0em 2em;
    font-size: 1.35em;
}

.ui.loader:after {
    border-color: #21BA45 transparent transparent !important;
}