.app-wrapper {
    height: calc(87% - 1em);
    height: calc(87vh - 1em);
    overflow: auto;
    position: relative;
}

.app-label span{
    margin: 0em 2em;
    font-size: 1.35em;
}

.ui.loader:after {
    border-color: #21BA45 transparent transparent !important;
}

.poll-single {
    margin: 1em !important;
    color: #000 !important;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.poll-single:hover {
    color: #21BA45 !important;
}