#root {
    height: 97%;
    height: 97vh;
}
.app-wrapper {
    height: calc(87% - 2em);
    height: calc(87vh - 2em);
    overflow: auto;
    position: relative;
}

.app-label span{
    margin: 0em 2em;
    font-size: 1.35em;
}

.ui.loader:after {
    border-color: #21BA45 transparent transparent !important;
}

.poll-single {
    margin: 1em !important;
    color: #000 !important;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.poll-single:hover {
    color: #21BA45 !important;
}

.poll-selectwrapper {
    margin: auto !important;
}

.poll-selectwrapper .row{
    padding-bottom: 0 !important;
}

#choiceSelect {
    min-width: 250px;
}

.chart-wrapper {
    width: 80% !important;
}