{
    "local": {
        "SECRET_KEY": "the-local-django-secret-key",
    },
    "production": {
        "SECRET_KEY": "the-production-django-secret-key",
        "EMAIL_USER": "yandex-email-address",
        "EMAIL_PASS": "yandex-email-password"
    }
}
